/* Page title on editor side */
.editor-post-title__block .editor-post-title__input {
    font-family: RobotoCondensed, Sans-Serif !important;
    font-size: 64px;
}

/* Special style rounded blocks*/
.is-style-brasiliana-rounded,
.wp-block-cover.is-style-brasiliana-rounded::before,
.wp-block-cover.is-style-brasiliana-rounded img.wp-block-cover__image-background,
.wp-block-cover.is-style-brasiliana-rounded video.wp-block-cover__video-background,
.wp-block-tainacan-carousel-terms-list.is-style-brasiliana-rounded .term-list-item,
.wp-block-tainacan-carousel-terms-list.is-style-brasiliana-rounded .term-list-item img,
.wp-block-tainacan-carousel-collections-list.is-style-brasiliana-rounded .collection-list-item,
.wp-block-tainacan-carousel-collections-list.is-style-brasiliana-rounded .collection-list-item img {
    border-radius: 16px;
}

/* Rounded Terms carousel has label inside the picture */
.wp-block-tainacan-carousel-terms-list.is-style-brasiliana-rounded .term-list-item a>span,
.wp-block-tainacan-carousel-collections-list.is-style-brasiliana-rounded .collection-list-item a>span {
    position: absolute;
    bottom: 0;
    padding: 16px 20px;
    color: var(--tainacan-block-gray0, #f8f9fb);
}

/* Special style cirle blocks*/
.wp-block-tainacan-carousel-terms-list.is-style-brasiliana-circle .term-list-item img,
.wp-block-tainacan-carousel-collections-list.is-style-brasiliana-circle .collection-list-item img {
    border-radius: 100%;
}
.wp-block-tainacan-carousel-terms-list.is-style-brasiliana-circle .term-list-item,
.wp-block-tainacan-carousel-collections-list.is-style-brasiliana-circle .collection-list-item {
    text-align: center;
}

/* Home banner logo */
.wp-block-getwid-section .wp-block-group__inner-container svg {
    margin-bottom: -4rem !important;
    display: block;
}

/* Brasiliana museu cards (also home page) */
.wp-block-columns.brasiliana-museu-cards .wp-block-cover__inner-container {
    width: 100%;
}
.wp-block-columns.brasiliana-museu-cards .wp-block-cover__inner-container .wp-block-columns {
    margin: 0;
    width: 100%;
}
.wp-block-columns.brasiliana-museu-cards .wp-block-cover__inner-container .wp-block-columns>.wp-block-column:not(:first-child) {
    margin-left: 0.75em;
}
.wp-block-columns.brasiliana-museu-cards .wp-block-cover__inner-container .wp-block-columns>.wp-block-column p {
    margin-bottom: 0;
}

/* Facets block inside a cover block should inherit text color */
.wp-block-cover .wp-block-tainacan-facets-list ul.facets-list.facets-layout-list li.facet-list-item a,
.wp-block-cover .wp-block-tainacan-facets-list ul.facets-list-edit.facets-layout-list li.facet-list-item a {
    color: inherit !important;
}

/* WordPress core Search Bar with Basiliana style */
.wp-block-seach.is-style-brasiliana-search-bar .wp-block-search__inside-wrapper {
    border-radius: 8px;
    padding: 0;
    border: none;
}
.wp-block-seach.is-style-brasiliana-search-bar .wp-block-search__inside-wrapper .wp-block-search__input {
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    padding: 0 0 0 2.25em;
}
.wp-block-seach.is-style-brasiliana-search-bar .wp-block-search__inside-wrapper .wp-block-search__button {
    margin-left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    background-color: var(--paletteColor1, #642d39);
    color: var(--palette-color-9, #ecd297);
    padding: .125em 2.5em;
}