/* Hides swiper lazy loading */
.swiper-lazy-preloader {
    animation: none;
    transform: none;
    display: none;
    visibility: hidden;
}

/* Adds arrow bars to Swiper navigation buttons */
.swiper-button-disabled {
    display: none;
}
.tainacan-icon-next::after,
.tainacan-icon-previous::after,
.swiper-button-next::before,
.swiper-button-prev::before {
    content: "";
    display: block;
    position: absolute;
}
.swiper-button-next::before,
.swiper-button-prev::before {
    background: var(--swiper-theme-color);
    opacity: 0.7;
    width: 1.5rem;
    height: 0.25rem;
    top: 1.115rem;
}
.tainacan-icon-next::after,
.tainacan-icon-previous::after {
    width: 1.15rem;
    height: 0.18rem;
    top: 0.565rem;
}
.swiper-button-next::before,
.swiper-container-rtl .swiper-button-prev::before {
    right: 0.25rem;
}
.tainacan-icon-next::after {
    right: 0.45rem;
}
.swiper-button-prev::before,
.swiper-container-rtl .swiper-button-next::before {
    left: 0.25rem;
}
.tainacan-icon-previous::after {
    left: 0.45rem;
}
.tainacan-media-component__swiper-main:hover .swiper-button-next::before,
.tainacan-media-component__swiper-main:hover .swiper-button-prev::before,
.tainacan-media-component__swiper-thumbs:hover .swiper-button-next::before,
.tainacan-media-component__swiper-thumbs:hover .swiper-button-prev::before {
    opacity: 1;
}

/* GetWid Slick Carousel arrows */
.slick-next::before,
.slick-prev::before {
    font-family: 'dashicons';
    font-size: 30px;
    color: var(--tainacan-block-primary, #298596);
}
.slick-next::before {
    content: '\f344';
}
.slick-prev::before {
    content: '\f340'
}
.slick-arrow {
    width: 42px;
    height: 42px;
}

/* Puts the breadcrumb on top of the page */
.hero-section {
    position: relative;
    padding-right: 64px;
}
.hero-section .ct-breadcrumbs {
    position: absolute;
    top: 6px;
    z-index: 2;
}
[data-vertical-spacing*="top"] .hero-section .ct-breadcrumbs {
    top: calc(-1 * var(--content-vertical-spacing) - 1rem);
}
[data-vertical-spacing*="top"] .hero-section .ct-breadcrumbs:only-child {
    top: calc(-1 * var(--content-vertical-spacing));
}

/* Custom Header elements */
.brasiliana-header-elements {
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: var(--block-max-width, var(--container-max-width));
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.brasiliana-header-elements .brasiliana-header-button {
    border: 1px solid var(--palette-color-10, #adcfd8);
    background-color: transparent;
    border-radius: 100%;
    padding: 0.5rem 1.2rem 0.5rem 0.8rem;
    height: 56px;
    width: 56px;
    margin-bottom: 8px;
    margin-left: 8px;
    position: absolute;
    cursor: pointer;
}
.brasiliana-header-elements .brasiliana-header-button:first-child {
    top: 6px;
}
.brasiliana-header-elements .brasiliana-header-button:last-child {
    top: calc( var(--content-vertical-spacing) + 8px);
}
[data-vertical-spacing*="top"] .brasiliana-header-elements .brasiliana-header-button:first-child {
    top: calc((-1 * var(--content-vertical-spacing)) + 6px);
}
[data-vertical-spacing*="top"] .brasiliana-header-elements .brasiliana-header-button:last-child {
    top: 8px;
}
.brasiliana-header-elements .brasiliana-header-button::hover,
.brasiliana-header-elements .brasiliana-header-button::focus {
    border: 1px solid var(--palette-color-10, #adcfd8);
}
.brasiliana-header-elements .brasiliana-header-button .icon {
    position: relative;
}
.brasiliana-header-elements .brasiliana-header-button .icon i::before {
    font-size: 1.5rem;
    line-height: 1rem;
    color: var(--paletteColor1, #642d39);
}
.brasiliana-header-elements .brasiliana-header-button .icon i::after {
    background-color: var(--paletteColor1, #642d39);
}
.brasiliana-header-elements .brasiliana-header-button .icon i.dashicons {
    line-height: 1.875rem;
    width: 1.75rem;
}

/* Brasiliana Social Icons share list */
.brasiliana-social-icons {
    position: absolute;
    display: none;
    visibility: hidden;
    width: 56px;
    left: 0;
    display: flex;
    justify-content: center;
    opacity: 0.0;
    top: 90%;
    transition: top 0.3s ease, opacity 0.3s ease;
}
.brasiliana-social-icons.is-list-open {
    display: flex;
    visibility: visible;
    opacity: 1.0;
    top: calc(100% + 8px);
}
.brasiliana-social-icons [data-icons-type] > * {
    padding: 12px;
    border: 1px solid var(--palette-color-10, #adcfd8);
    background-color: white;
    display: block;
    border-radius: 100%;
    margin-bottom: 0px;
    --icon-color: var(--paletteColor1, #642d39);
    transition: margin 0.3s ease;
}
.brasiliana-social-icons.is-list-open [data-icons-type] > * {
    margin-bottom: 8px;
}

/* Single post header for curadorias */
body.single-post .hero-section .page-description {
    max-width: 624px;
}