/* Item list pages */
.tainacan-collection-header__box .hero-section[data-type="type-1"] {
    margin-bottom: 4px;
}
.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card .metadata-label,
.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-list-container .tainacan-list .metadata-label,
.theme-items-list #items-list-area #items-list-results .tainacan-list-container .tainacan-list .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-masonry-container .tainacan-masonry-item .metadata-label,
.theme-items-list #items-list-area #items-list-results .tainacan-masonry-container .tainacan-masonry-item .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-records-container .tainacan-record .metadata-label,
.theme-items-list #items-list-area #items-list-results .tainacan-records-container .tainacan-record .metadata-value {
    font-size: 1em !important;
}
.tainacan-collection-header .tainacan-collection-header__box .page-title {
    --heading-color: var(--tainacan-heading-color);
}

/* Items list carousels */
.item-list-item.swiper-slide,
.wp-block-getwid-post-carousel__slide {
    background: var(--background-color, #ffffff);
    padding: 24px;
    border-radius: var(--border-radius, 12px);
    box-shadow: 0px 0px 16px -12px #000;
}

.wp-block-getwid-post-carousel__post-title,
.slick-list .wp-block-getwid-template-post-title {
    font-family: Bebas Neue;
    font-size: 1.75rem;
    padding-bottom: 0;
}

.item-list-item.swiper-slide a>span{
    font-family: Bebas Neue;
    font-size: 1.35rem;
    margin-bottom: -1rem;
}
.wp-block-getwid-post-carousel.has-slides-gap-large .slick-list {
    padding-top: 12px;
    padding-bottom: 12px;
}
.wp-block-getwid-post-carousel__post-thumbnail,
.item-list-item.swiper-slide a>div {
    width: calc(100% + 48px);
    height: calc(100% + 48px);
    margin-left: -24px;
    margin-top: -24px;
    border-radius: var(--border-radius, 12px);
    overflow: hidden;
}
.item-list-item.swiper-slide a>div img {
    object-fit: cover;
    object-position: center;
}

.wp-block-getwid-section .wp-block-latest-posts.wp-block-latest-posts__list {
    font-size: 1.125rem;
    list-style-type: disc;
}
.wp-block-getwid-custom-post-type.custom-post-type-glossary .wp-block-getwid-custom-post-type__wrapper {
    font-size: 1.125rem;
    list-style-type: square;
    padding-left: 30px;
}

/* Dynamic items list with no images should have less padding */
.wp-block-getwid-custom-post-type.custom-post-type-glossary .wp-block-getwid-custom-post-type__post,
.wp-block-tainacan-dynamic-items-list ul.items-list.items-layout-list li.item-list-item,
.wp-block-tainacan-dynamic-items-list ul.items-list-edit.items-layout-list li.item-list-item {
    padding: 2px 12px 8px 12px !important;
    display: list-item !important;
    line-height: normal !important;
}

.wp-block-tainacan-dynamic-items-list ul.items-list.items-layout-list li.item-list-item a:hover,
.wp-block-tainacan-dynamic-items-list ul.items-list-edit.items-layout-list li.item-list-item a:hover {
    color: var(--pallete-color-4, #000);
}

.wp-block-getwid-custom-post-type.custom-post-type-glossary .wp-block-getwid-custom-post-type__post::marker,
.wp-block-tainacan-dynamic-items-list ul.items-list.items-layout-list li.item-list-item::marker,
.wp-block-tainacan-dynamic-items-list ul.items-list-edit.items-layout-list li.item-list-item::marker {
    color: var(--palette-color-9, #f95e05);
    font-size: 1.5em;
}
.wp-block-getwid-custom-post-type.custom-post-type-glossary .wp-block-getwid-custom-post-type__post a {
    background: none;
}
.wp-block-getwid-custom-post-type.custom-post-type-glossary .wp-block-getwid-custom-post-type__post::marker {
    font-size: 1.125rem;
}
.wp-block-tainacan-dynamic-items-list ul.items-list.items-layout-list,
.wp-block-tainacan-dynamic-items-list ul.items-list-edit.items-layout-list {
    list-style-type: disc !important;
    padding-left: 1.5em !important;
    column-gap: 1.875em !important;
}

/* Bloco de pessoas */
.wp-block-getwid-person.is-image-cropped .wp-block-getwid-person__image {
    position: relative;
    padding-top: 100%;
    border-radius: 100%;
    overflow: hidden;
}