/* Item list pages */
.tainacan-collection-header {
    margin-left: auto;
    margin-right: auto;
    width: var(--container-width);
    max-width: var(--container-max-width);
}
.tainacan-collection-header__box {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), linear-gradient(0deg, #ECD297, #ECD297) !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
}
.tainacan-collection-header .ct-breadcrumbs {
    position: absolute;
    top: 6px;
}
.tainacan-collection-header .page-title {
    color: var(--paletteColor1, #642d39);
}
.tainacan-collection-header .page-description {
    padding-left: 5%;
    padding-right: 5%;
    -moz-column-count: 2;
    -moz-column-gap: 1.5em;
    -moz-column-rule: none;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.5em;
    -webkit-column-rule: none;
    column-gap: 1.5em;
    column-rule: none;
    column-count: 2;
}
@media screen and (max-width: 960px) {
    .tainacan-collection-header .page-description {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.theme-items-list:not(.is-fullscreen) {
    top: 3rem !important;
}