/* Item list pages */
.tainacan-collection-header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), linear-gradient(0deg, #ECD297, #ECD297) !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
}
.tainacan-collection-header__box {
    margin-left: auto;
    margin-right: auto;
    width: var(--container-width);
    max-width: var(--container-max-width);
}
.tainacan-collection-header .ct-breadcrumbs {
    position: absolute;
    top: 6px;
}
.tainacan-collection-header .page-title {
    color: var(--paletteColor1, #642d39);
}
.tainacan-collection-header .page-description {
    padding-left: 5%;
    padding-right: 5%;
    -moz-column-count: 2;
    -moz-column-gap: 1.5em;
    -moz-column-rule: none;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.5em;
    -webkit-column-rule: none;
    column-gap: 1.5em;
    column-rule: none;
    column-count: 2;
}
@media screen and (max-width: 960px) {
    .tainacan-collection-header .page-description {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.tainacan-modal,
.theme-items-list {
    --borderRadius: 8px;
    --tainacan-item-heading-background-color: var(--paletteColor8, #f5f4ed);
    --tainacan-item-heading-hover-background-color: var(--palette-color-9, #ecd297);
}
.theme-items-list:not(.is-fullscreen) {
    top: 3rem !important;
    margin-left: auto;
    margin-right: auto;
    width: var(--container-width) !important;
    max-width: var(--container-max-width) !important;
    min-width: initial !important;
}
.theme-items-list .search-control {
    padding: 20px 0px 6px 3px !important;
}
.tainacan-modal .tags,
.theme-items-list .tags {
    border-radius: 8px;
}

.tainacan-modal .filter-item-forms .collapse-trigger .collapse-label,
.theme-items-list .filter-item-forms .collapse-trigger .collapse-label {
    font-weight: bold;
    font-size: 1rem;
    color: var(--tainacan-secondary
    #642d39);
}
.tainacan-modal .filter-item-forms .collapse-trigger .icon,
.theme-items-list .filter-item-forms .collapse-trigger .icon {
    margin-right: 0;
    margin-left: 4px;
    order: 2;
}
.tainacan-modal .filter-item-forms .collapse-trigger .icon .tainacan-icon-arrowright::before,
.theme-items-list .filter-item-forms .collapse-trigger .icon .tainacan-icon-arrowright::before {
    content: "plus";
}
.tainacan-modal .filter-item-forms .collapse-trigger .icon .tainacan-icon-arrowdown::before,
.theme-items-list .filter-item-forms .collapse-trigger .icon .tainacan-icon-arrowdown::before {
    content: "minus";
}

.tainacan-modal .tainacan-form .label,
.theme-items-list .tainacan-form .label {
    display: inline-flex;
}
.theme-items-list #filters-modal .modal-content #filters-items-list {
    margin: 0px;
}

@media screen and (min-width: 960px) {
    .theme-items-list #filters-modal .modal-content #filters-items-list {
        padding-left: 0;
        padding-top: 0;
    }
    .theme-items-list #filters-modal .modal-content {
        padding: 16px 6px !important;
    }
}