:root {
    --palette-color-1: var(--paletteColor1, #642D39);
    --palette-color-2: var(--paletteColor2, #864453);
    --palette-color-3: var(--paletteColor3, #040203);
    --palette-color-4: var(--paletteColor4, #201e2e);
    --palette-color-5: var(--paletteColor5, #c9c9c9);
    --palette-color-6: var(--paletteColor6, #ececec);
    --palette-color-7: var(--paletteColor7, #ffffff);
    --palette-color-8: var(--paletteColor8, #f5f4ed);
    --palette-color-9: #FFE899;
    --palette-color-10: #98D4FF;
    --palette-color-11: #FFEBBD;
    --palette-color-12: #B28A00;
    --palette-color-13: #CD403C;
    --palette-color-14: #FFCCCF;
    --palette-color-16: #800008;
    --palette-color-17: #CD403C;
    --palette-color-18: #849965;
    --palette-color-19: #111111;
    --palette-color-20: #f5f5f5;
    --palette-color-21: #dddddd;
    --palette-color-22: #666666;
    --container-max-width: var(--normal-container-max-width, 1290px);
}

.has-palette-color-9-color {
    color: var(--palette-color-9, #FFE899) !important;
}
.has-palette-color-9-background-color {
    background-color: var(--palette-color-9, #FFE899) !important;
}

.has-palette-color-10-color {
    color: var(--palette-color-10, #98D4FF) !important;
}
.has-palette-color-10-background-color {
    background-color: var(--palette-color-10, #98D4FF) !important;
}

.has-palette-color-11-color {
    color: var(--palette-color-11, #FFEBBD) !important;
}
.has-palette-color-11-background-color {
    background-color: var(--palette-color-11, #FFEBBD) !important;
}

.has-palette-color-12-color {
    color: var(--palette-color-12, #B28A00) !important;
}
.has-palette-color-12-background-color {
    background-color: var(--palette-color-12, #B28A00) !important;
}

.has-palette-color-13-color {
    color: var(--palette-color-13, #CD403C) !important;
}
.has-palette-color-13-background-color {
    background-color: var(--palette-color-13, #CD403C) !important;
}

.has-palette-color-14-color {
    color: var(--palette-color-14, #FFCCCF) !important;
}
.has-palette-color-14-background-color {
    background-color: var(--palette-color-14, #FFCCCF) !important;
}

.has-palette-color-9-color {
    color: var(--palette-color-9, #FFE899) !important;
}
.has-palette-color-9-background-color {
    background-color: var(--palette-color-9, #FFE899) !important;
}

.has-palette-color-16-color {
    color: var(--palette-color-16, #800008) !important;
}
.has-palette-color-16-background-color {
    background-color: var(--palette-color-16, #800008) !important;
}

.has-palette-color-17-color {
    color: var(--palette-color-17, #CD403C) !important;
}
.has-palette-color-17-background-color {
    background-color: var(--palette-color-17, #CD403C) !important;
}

.has-palette-color-18-color {
    color: var(--palette-color-18, ) !important;
}
.has-palette-color-18-background-color {
    background-color: var(--palette-color-18, #849965) !important;
}

.has-palette-color-19-color {
    color: var(--palette-color-19, #111111) !important;
}
.has-palette-color-19-background-color {
    background-color: var(--palette-color-19, #111111) !important;
}

.has-palette-color-20-color {
    color: var(--palette-color-20, #f5f5f5) !important;
}
.has-palette-color-20-background-color {
    background-color: var(--palette-color-20, #f5f5f5) !important;
}

.has-palette-color-21-color {
    color: var(--palette-color-21, #dddddd) !important;
}
.has-palette-color-21-background-color {
    background-color: var(--palette-color-21, #dddddd) !important;
}

.has-palette-color-22-color {
    color: var(--palette-color-22, #666666) !important;
}
.has-palette-color-22-background-color {
    background-color: var(--palette-color-22, #666666) !important;
}